{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}


<div class="row">
    <div class="col-md-12">
        <div class="jumbotron p-3">
            <h2>Manage <b>Users</b> 
                <button class="btn btn-success mr-auto" data-toggle="modal" data-target="#mymodal">
                    Add new user
                </button> 
            </h2>
            <table class="table table-hover table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Action</th>
                    </tr>
                <tbody>
                    {% for ur in users %}
                    <tr>
                        <td>{{ur.id}}</td>
                        <td>{{ur.username}}</td>
                        <td>{{ur.name}}</td>
                        <td>{{ur.email}}</td>
                        <td>{{ur.cpf}}</td>
                        <td>
                            <a href="/update/{{ur.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ur.id}}">Edit</a>
                            <a href="/delete/{{ur.id}}" class="btn btn-danger btn-xs" 
                                onclick="return confirm('Are you sure?')" 
                                >Delete</a>
                        </td>
                    </tr>
                    <!-- Modal Update -->
                    <div id="modaledit{{ur.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Edit user</h4>
                                </div>

                                <div class="modal-body">
                        
                                    <form action="/update" method="POST">
                                        <div class="form-group">
                                            <label>Username:</label>
                                            <input type="hidden" name="id" value="{{ur.id}}">
                                            <input type="text" class="form-control" name="username" value="{{ur.username}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="name" value="{{ur.name}}" required="1">
                                        </div>
                        
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="email" class="form-control" name="email" value="{{ur.email}}" required="1">
                                        </div>
                        
                                        <div class="form-group">
                                            <label>CPF:</label>
                                            <input type="text" class="form-control" name="cpf" value="{{ur.cpf}}" disabled>
                                        </div>
                        
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Edit User</button>
                                        </div>
                                    </form>
                        
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                    
                    
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Modal Create -->
        <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Add user</h4>
                    </div>

                    <div class="modal-body">
            
                        <form action="/submit" method="POST">
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="text" class="form-control" name="username" required="1">
                            </div>

                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="name" required="1">
                            </div>
            
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" class="form-control" name="email" required="1">
                            </div>
            
                            <div class="form-group">
                                <label>CPF:</label>
                                <input type="text" class="form-control" name="cpf" required="11">
                            </div>
            
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Add User</button>
                            </div>
                        </form>
            
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
        
        
            </div>
        </div>



    </div>
</div>
{% endblock %}